body {
    color: azure;
    text-align: center;
    font-size: 18px;
    box-sizing: border-box;
    background-color: rgb(238, 210, 210);
}

.navbar{
    background-color: #001635;
    color: white;
}
